html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.tab {
  margin-left: 2.5em
 }

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
